.wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 1rem;
}

ul {
  list-style-type: none;
  text-align: start;
}

li {
  padding: 0.5rem;
  cursor: pointer;
}

li:active {
  color: blue;
}

button {
  padding: 0.5rem 2rem;
  margin: 1rem 0;
  cursor: pointer;
}

#products {
  visibility: hidden;
}

#description {
  visibility: hidden;
}

#buy-button {
  visibility: hidden;
}
#message {
  visibility: hidden;
}